@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

.dark\:text-white {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    color: var(--color-white);
  }
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; scrollbar-color: #b9b9b9 #f7f7f7;
 scrollbar-width: thin;
 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

